body
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url(../image/logo.webp);
    background-size: cover;
    background-position:center;
}


